<div class="col-12 mb-4 pt-lg-3 px-4">
    <img class="<%= page.large==='width3'?'full-width-element':'img-fluid' %> project-img" src="<%- config.root %><%- page.cover_image || theme.default_cover_image %>"
        alt="<%- page.title || theme.default_post_title || " Untitled" %>">
</div>
<div class="col-12 pt-3 px-4 portfolio-content">
    <h6><%- page.title || theme.default_post_title || "Untitled" %></h6>
</div>
<div class="col-12 pt-lg-3 mb-4 px-4 portfolio-content">
    <%- page.content %>
</div>