<%
    var category = page.categories.data[0];
    var posts = site.categories.findOne({name: category.name}).posts;
%>

<div class="col-12 mb-2 px-4">
    <div class="row">
        <div class="col-md-10 col-8">
            <div class="row category">
                <% posts.data.forEach(post=>{ %>
                    <div class="col-md-2 col-4">
                        <a href="<%- url_for(post.path) %>">
                            <span class="<%- post._id === page._id? 'active':'' %>"><%= post.title %></span>
                        </a>   
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="col-md-2 col-4 text-end category">
            <a href="/categories/work"><span class="active"><%= category.name[0].toUpperCase() + category.name.slice(1) %></span></a>
        </div>
    </div>
</div>
<div class="col-12 mb-2 px-4">
    <div class="swiper" style="width: 100%;overflow: hidden;">
        <div class="swiper-wrapper">
            <% page.images.forEach(item=>{ %>
                <div class="swiper-slide d-flex justify-content-center align-items-center">
                    <img class="img-fluid swiper-image project-img" src="<%- config.root %><%- item %>" alt="<%- item %>">
                </div>
            <% }); %>
        </div>
        <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
</div>
<style>
    .grid{
        margin-top: -10px;
    }
    .grid img{
        /* height: 100%; */
        overflow: hidden;
    }
    .grid-item{
        position: relative;
        overflow: hidden;
        padding: 20px 10px 0 10px;
        box-sizing: border-box;
    }
    .medium-zoom-overlay{
        z-index: 999;
    }
    .medium-zoom-image--opened{
        z-index: 9999;
    }
</style>
<div class="col-12 mb-4 px-4">
    <div class="row grid">
        <% page.images.forEach(item=>{ %>
            <div class="col-md-4 col-12 grid-item">
                <img class="img-fluid project-img " src="<%- config.root %><%- item %>" alt="<%- item %>">
            </div>
        <% }); %>
    </div>
</div>
<div class="col-12 pt-lg-3 mb-4 portfolio-content">
    <%- page.content %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const grid = document.querySelector('.grid');
        imagesLoaded(grid, function () {
            let fixWith = function(){
                let wd = grid.children[0].clientWidth / 3 * 2;
                for(let i = 0; i < grid.children.length; i++){
                    grid.children[i].style.height = wd + 'px';
                }

                let sp= document.querySelector('.swiper');
                sp.style.height = sp.clientWidth * 0.666 + 'px';
            }

            window.addEventListener('resize', fixWith);
            fixWith();
            let sps = document.querySelectorAll('.swiper-image');

            sps.forEach(sp=>{
                if(sp.clientHeight > sp.clientWidth){
                    sp.style.height = '100%';
                    sp.style.width = 'auto';
                }else{
                    sp.style.width = '100%';
                    sp.style.height = 'auto';
                }
            });

            const swiper = new Swiper('.swiper', {
                slidesPerView: 1,
                loop: true,
                autoplay:true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });

            const zoom = mediumZoom('.project-img', {
                background: 'rgba(0, 0, 0, 0.9)',
                margin: 24
            });

            zoom.on('open', ()=>{
                swiper.autoplay.stop();
            })
            zoom.on('close', ()=>{
                swiper.autoplay.start();
            })
        });

    });
</script>